---
import Layout from "../layouts/Layout.astro";
import "../css/global.css";
---

<div class="grid.1.2">
  <h2>SNUGGLE</h2>
  <p>Det meget omtalte og roste samarbejde mellem Andrea Thuesen fra Baby in Vain og Vilhelm Strange fra Liss har sparket døren ind til alt og alle med albummet Goodbyehouse i 2025.</p>
</div>
<div><img src="public/ikonerOgLogo/playLine.webp" alt="playLine.webp" /></div>

<Layout titel='Høsten-Artist"' />
